*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.opt
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.o
*.d
*.axf
*.tra
*.dep           
*.build_log.htm
*.map
*.htm
*.uvguix.*
*.sct
*.scvd
build
build-Y-serialplot-Desktop_Qt_5_9_8_MinGW_32bit-Debug